:root {
    --primary: #d32027;
    --primary-alpha: 211, 32, 39;
    --primary-light: #fffafa;
    --dark-primary: #a3030a;
    --grey-dark: #4a4a4a;
    --grey: #9b9b9b;
    --grey-light: #e7e7e7;
    --grey-lighter: #f4f4f4;
    --card-grey: #f9f9f9;
    --black: #000;
    --white: #fff;
    --cta-grey: #3f3f3f;
    --flights-grey: #154156;
    --blue: #1134d7;

    --line: solid 1px var(--grey-light);

    --input-height: 3.2rem;
}


$primary: #d32027;
$primary-soft:#ffd0d0;
$primary-alpha: 211, 32, 39;
$primary-light: #fffafa;
$dark-primary: #a3030a;
$grey-dark: #4a4a4a;
$grey-light-dark: #7e7e7e;
$grey-dark-light: #f1f1f1;
$grey: #9b9b9b;
$grey-light: #e7e7e7;
$grey-lighter: #f4f4f4;
$card-grey: #f9f9f9;
$black: #000;
$white: #fff;
$cta-grey: #3f3f3f;
$flights-grey: #154156;
$blue: #1134d7;
$gold:#d6a106;

$line: solid 1px #e7e7e7;

$input-height: 3.2rem;

$primary-pardo: #0078c3;
$primary-viajobien: #f97f42;