.contact-form{
    &-section{
        padding: 0 3rem 3rem 3rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include respond(phone) {
            padding: 1rem;
        }
        &-title{
            width: 100%;
            background:$primary-soft;
            font-size: 1.6rem;
            cursor: pointer;
            font-weight: bold;
            padding: 2rem 1.4rem;
        }
        &-form{
            display: flex;
            flex-wrap: wrap;
            margin-left: 1.2rem;
        }
    }
}