.guest-form{
    border:none;
    padding: 0 3rem;
    transition: max-height .5s;
    box-shadow: none;
     @include respond(phone) {
        padding: 0 1rem;
    }
    
    
    &-headline{
        background:$primary-soft;
        font-size: 1.6rem;
        cursor: pointer;
        font-weight: bold;
        padding: 1rem 1.4rem;
        color:$grey-light-dark;
        border-radius: 3px;
    }
    &--collapsed {
        max-height: 100rem;
    }
    &__form-container{
        max-height: 100rem; 
        overflow: hidden; 
        transition: max-height .5s;
    }
    &__hidden {
        max-height: 0;
        //background: red;
    }
}