.flight {
    // max-width: 20rem;
    max-height: 4.8rem;
    overflow: hidden;
    margin-top: 1.6rem;
    border-radius: 3px;
    background-color: $grey-light;
    cursor: pointer;
    transition: max-height .5s;
    margin-bottom: 1.6rem;
    flex: 1;

    @include respond(tablet-land) {
        margin-left: .8rem;
        margin-top: 0;
    }

    &__collapsed {
        max-height:100rem;
    }

    &__headline {
        flex: 1;
        height: 4.8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &-city {
            font-size: 1.8rem;
            color: $primary;
            font-weight: 500;
            margin: 0 .8rem;
        }

        &-symbol {
            width: 1.4rem;
            height: 1rem;
            color: $primary;
        }
    }

    &__segments {
        margin: 0 1.6rem;
        padding-top: 1.6rem;
        border-top: solid 1.5px rgba(0, 0, 0, 0.12);
    }
}

.segment {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__headline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-desc {
            display: flex;
            flex-direction: row;
            align-items: center;

            &--icon {
                width: 1.6rem;
                height: 1.6rem;
                color: $primary;
                margin-right: .8rem;
            }
        }

        &-label {
            font-size: 1.4rem;
            font-weight: 300;
            color: $flights-grey;
            letter-spacing: .1px;
        }
    }

    &__detail {
        margin-bottom: 1.6rem;
        margin-top: .8rem;
        padding: 1.6rem;
      // height: 6.4rem;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        background-color: $white;
        display: flex;

        @include respond(phone) {
            min-height: 6.4rem;
            height:auto;
        }
    }

    &__detail-extended{
        span.departure{
            font-size: 1.4rem;
            font-weight: 600;
            margin: 1rem;
        }
        background:$grey-lighter;
        margin: 1rem;
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        font-size: 1.4rem;
        & .leg{
            border-bottom : $line;
       //     width: 100%;
            margin: 1rem;
            display: flex;
            justify-content: space-between;
            padding-bottom: 1.4rem;
            
            @include respond(phone) {
                flex-wrap: wrap;
            }
            & .leg-col{
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                @include respond(phone) {
                    margin: 1rem 0;
                }
                .airline-time,.duration,.cabinname{
                    width: 100%;
                }
                .airline-time{
                    font-size: 1.3rem;
                    margin: .5rem;
                    img{
                        height: 1.6rem;
                        width: 1.6rem;
                        margin-right: 1rem;
                    }
                }
                & div {
                    @include respond(phone) {
                        margin: 2px 0; 
                    }
                }
            }
            & .cities{
                width: 100%;
                margin: 0.4rem 1.5rem;
                @include respond(phone) {
                    margin:0; 
                }
                .code{
                    font-weight: bold;
                    color:red;
                    margin: 0 .5rem;
                }
            }
            .aircraft{
                margin: 0.4rem 1.5rem;
                @include respond(phone) {
                    margin:0;
                }
            }
            &.stop{
                & div{
                    width: 100%;
                    margin: .2rem 0;
                    margin:.5rem;
                }
                flex-wrap: wrap;
                & .leg-title span{
                    font-weight: 600;
                    color:red;
                }
                & .aircraft-change{
                    color:red;
                }
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        &--headline {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom:1rem;
            @include respond(phone) {
                margin-bottom:1rem;
            }
        }
    }

    &__airline {
        display: flex;
        align-items: center;
        &--logo {
            height: 1.6rem;
            width: 1.6rem;
            margin-right: .8rem;
        }

        &--name {
            font-size: 1.4rem;
            letter-spacing: .1px;
            color: $grey-dark;
        }
    }

    &__duration {
        height: 1.6rem;
        display: flex;
        align-items: center;

        span {
            font-size: 1.2rem;
            letter-spacing: .1px;
            color: $grey-dark;
        }
    }
}

.leg-summary {
    margin-top: .4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @include respond(phone) {
        display:block;
    }

    &__heads {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__head {
        display: flex;
        &--airport {
            font-size: 1.4rem;
            letter-spacing: .1px;
            color: $grey-dark;
            font-weight: 500;
        }

        &--time {
            font-size: 1.4rem;
            letter-spacing: .1px;
            color: $grey-dark;
            margin-left: .2rem;
        }

        &--plus-days {
            font-size: .8rem;
            letter-spacing: .1px;
            color: $primary;
            align-self: flex-start;
            margin-left: .4rem;
            margin-top: -.2rem;
        }
    }

    &__luggage {
        display: flex;
        flex-direction: row;
        @include respond(phone) {
            justify-content:center;
            margin-top:1rem;
        }
        &-icon {
            // height: 1.4rem;
            // width: 1.4rem;
            color: $blue;
            
            &:not(:last-child) {
                margin-right: .8rem;
            }
        }
    }
}

.stops {
    width: 4.8rem;
    height: .4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0 .8rem;

    &__line {
        height: 2px;
        width: 100%;
        background-color: $blue;

        &--green {
            height: 2px;
            width: 100%;
            background-color: #4c9800;
        }
    }

    &__circles {
        position: absolute;
        top: -1px;
        left: 0;
        z-index: 1000;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    &__circle {
        height: 6px;
        width: 6px;
        border-radius: 3px;
        border: solid 1px $blue;
        background-color: $white;
    }
}