.hotel {
    // max-width: 20rem;
    max-height: 4rem;
    overflow: hidden;
    margin-top: 1.6rem;
    border-radius: 1rem;
    background-color: $white;
    cursor: pointer;
    transition: max-height .5s;
    margin-bottom: 1.6rem;
    flex: 1;
    box-shadow: 2px 5px 12px 0px rgba(70, 70, 70, 0.6);


    @include respond(tablet-land) {
        margin-left: .8rem;
        margin-top: 0;
    }

    &__collapsed {
        max-height:100rem;
    }

    &__headline {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        border-bottom: dashed 1.5px rgba(0, 0, 0, 0.12);
        padding: 1.4rem;

        &-city {
            font-size: 1.8rem;
            color: $black;
            font-weight: 500;
        }

        &-symbol {
            width: 1.4rem;
            height: 1rem;
            color: $primary;
        }
    }

    &__details {
        margin: 0 1.6rem;
        padding-top: 1.6rem;
    }
   
}
.hotel-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $white;
    font-size: 1.4rem;
    &__section{
        display:flex;
        border-bottom: dashed 1px rgba(0, 0, 0, 0.12);
        padding: 1.4rem;
        &.description{
            .image{
                width: 35%;
                img{
                    width: 100%;
                    border-radius: 5%;
                }
            }
            .detail{
                padding: 0 1rem;
                width: 65%;
                div{
                    margin:3px 0;
                    display: flex;
                    align-items: center;
                }
                .title{
                    font-weight: bold;
                }
                .stars{
                    display: flex;
                    .icon-star{
                        height: 1.4rem;
                        width: 1.4rem;
                        fill:$gold;
                    }
                }
                .direction{
                    color:$grey;
                    .icon-location{
                        fill:$grey;
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }  
        }
        &.date{
            justify-content: space-around;
            align-items: center;
            font-size: 1.6rem;
            font-weight: bold;
            .icon-date{
                height: 2.3rem;
                width: 2.3rem;
            }
            img{
                height: 1.2rem;
            }
        }
        &.guestrooms{
            flex-wrap: wrap;
            border-bottom: none;
            .info{
                width: 33%;
                .title{
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    & .info-icon{
                        height: 1.7rem;
                        width: 1.7rem;
                        fill: $grey-dark;
                        margin: 6px 9px;
                        
                    }
                }
                .label{
                    padding-left: 3.6rem;
                }
            }
        }
    }



    &__hotel-info{
        display:flex;
        flex-direction: column;
        border-bottom: $line;
        margin-bottom: 1.2rem;
        .title{
            font-size: 1.8rem;
        }
        .stars{
            display: flex;
            .icon-star{
                height: 1.4rem;
                width: 1.4rem;
                fill:$gold;
            }
            padding-bottom:10px;
        }
        .direction{
            color:$primary;
            .icon-location{
                fill:$primary;
                height: 2rem;
                width: 2rem;
            }
        }
        .meal-plan{
            color:#579b08;
        }
    }
    &__reservation-info{
        display:flex;
        flex-direction: column;
        .row{
            display: flex;
            padding: .8rem 0;
            justify-content: space-between;
            border-bottom: 1px dashed $grey;
        } 
    }

}